<div class="row">
    <div class="col-xs-10">
        <rb-shopping-list-add [item]="selectedItem" (cleared)="onCleared()"></rb-shopping-list-add>
        <!-- selectedItem been passed in to this shipping-list-add component | cleared is a custom event defined in shopping-list-add when clear button is clicked-->
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="..." *ngFor="let item of items" (click)="onSelectItem(item)">{{item.name}} ({{item.amount}})</a>
        </ul>
    </div>
</div>
